<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title May the Fourth Be With You
        link(rel="stylesheet", href="./styles.css")
    body
        img(src="ds.png", alt="")
        #mf
            img(src="mf.png", alt="")
        #small
        #medium
        #large
        #galaxy
    #ship 
        #speech: p welcome to a galaxy far far away...#[br]#[br]put R2D2 on a planet to learn more
    #top 
    #left
    #right
    #planet-container
        
        
script(src="./script.js")
script(src="./data.js")